# --- BUILD DIR ---
build/
*/build/
*/Release/
*/Debug/

# --- Visual Studio ---
*.vcxproj.user
*.vcxproj.filters
*.sln

# --- Binary files ---
*.exe
*.dll
*.pdb
*.lib
*.exp
*.obj
*.ilk

# --- CUDA temporals ---
*.cudafe*
*.fatbin
*.cu.obj
*.ptx

# --- Python cache ---
__pycache__/
*.pyc

# --- Logs ---
*.log

# --- CMake ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# --- Outputs ---
*.out
*.o

